body{
    background-color: #3C0919;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 0;
    padding: 10px 1em;
}

@font-face {
    font-family: 'Android';
    src: url(assets/fontes/idroid.otf) format('opentype');
}

h1{
    font-family: 'Android', Arial, Helvetica, sans-serif;
    color: #7D1128;
    text-align: left;
    margin: 1em;
}

h2{
    font-family: 'Android', Arial, Helvetica, sans-serif;
    padding: 5px 1em;
    text-align: left;
    background-color: #ff2c564d;
    color: #7D1128;
}

header{
    background-image: linear-gradient(to bottom, #E2294F, #7D1128);
    color: white;
    text-align: left;
    padding: 1em;
}

header > h1{
    text-align: center;
    background: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header > p{
    margin: 2em;
    text-align: center;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px 1em 17px 1em;
}

nav > a:hover{
    background-color: #C41E3D;
} 

main{
    background-color: white;
    color: black;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 1em 0;
}

main > p{
    text-align: justify;
    text-indent: 1em;
}

img {
    width: 100%;
}

div{
    background-color: #E2294F;
    height: 350px;
    padding-top: 25px;
}

article{
    background-color: #e2294e6c;
    margin: 0 1em;
    border-radius: 15px;
}

article > h1{
    background-color: #C41E3D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 1em;
    margin: 1em 0 0 0;
    border-radius: 15px 15px 0 0;
}

article > p{
    text-align: justify;
    text-indent: 1em;
}

ul {
    column-count: 2;
    list-style-type: none;
    text-align: left;
}

footer{
    background-color: #E2294F;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0px;
}

footer > p{
    margin: 0px;
}