*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: cursive;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

header h1 {
    font-size: 5em;
    margin-bottom: 15px;
}

section {
    background-color: white;
    line-height: 2em;
    font-size: 4vw;
    padding: 1em;
}

section#img1 {
    background-image: url(assets/background001.jpg);
    background-attachment: fixed;
    background-position: right center;

    color: white;
}

section#img2 {
    background-image: url(assets/background002.jpg);
    background-attachment: fixed;
    background-position: right center;

    color: white;
}

section#img1 p, section#img2 p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.164);
}